@import '../node_modules/zeus-grid/src/zeus.scss';

$color_primary: #F5F5F5;
$color_secondary: #212121;
$color_meta: #BDBDBD;
$color_hl: #03A9F4;

html, body {
    height: 100%;
}

body {
    background-color: $color_primary;
    color: $color_secondary;
    font-family: 'Noto Sans', sans-serif;
    font-size: 18px;
    display: flex;
}

section {
    margin: auto;
    flex: 1;
    padding: 2rem;
}

h1 {
    font-family: 'Pacifico', cursive;
    margin: 0px;
    padding: 0px;
}

p {
    margin: 0px;
    padding: 0px;
}

a.mail {
    background-color: $color_hl;
    border-radius: 20px;
    border: none;
    color: $color_primary;
    padding: 0.5rem 1.5rem;
}

img {
    max-width: 100%;
    width: 10rem;
}

small, a {
    color: $color_meta;
}
